<div id="header">
  <div class="btn-group center-block">
<!--     <a href="/books" id="booksButton" type="button" class="btn btn-default">BOOKS</a>
    <a href="/movies" id="moviesButton" type="button" class="btn btn-default">MOVIES</a>
 -->    <a href="/books" id="booksButton" type="button" class="btn btn-default">BOOKS</a>
    <a href="/movies" id="moviesButton" type="button" class="btn btn-default">MOVIES</a>
  </div>
</div>

<%= yield if block_given? %>
