<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vidi-legi-nota</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link id="favicon" rel="shortcut icon" type="image/png" href="/img/2-book.png"/>
  <script src="//code.jquery.com/jquery-3.2.1.js"></script>
  <script type="application/json" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <script src="/script/script.js"></script>
</head>
<body>

<% if @user%>
  <div id="login">
    <a href="/overlook" class="inactive-anchor">
      <%= "#{@user.name}"%>
    </a>
  </div>
<% end -%>

<%= yield if block_given? %>


</body>
</html>
