<div id="footer" ng-app='listOrderApplication' ng-controller="listOrderController" ng-cloak>
  <div ng-init='items = <%= @lines_jsoned%>'></div>
  <input type="text" placeholder=" Search " ng-model="search" style="color: black;">
  <br/>

<!-- angular sort -->

  <div class="" style="font-size: 1.2em;">
    <span class=""> Sort by: </span>
    <span class="sortable" ng-click = "sortBy('author')"> Author </span>
    <span class="sortorder" ng-show="propertyName === 'author'" ng-class="{reverse: reverse}"></span>
    /
    <span class="sortable" ng-click = "sortBy('title')"> Title </span>
    <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
    /
    <span class="sortable" ng-click = "sortBy('year')"> Year </span>
    <span class="sortorder" ng-show="propertyName === 'year'" ng-class="{reverse: reverse}"></span>
    /
    <span class="sortable" ng-click = "sortBy('created_at')"> Date added </span>
    <span class="sortorder" ng-show="propertyName === 'created_at'" ng-class="{reverse: reverse}"></span>
  </div>

  <div class="" style="font-size: 1.2em;">
     View:
     <span class="sortable" ng-click = 'checked'>Hide movies I have seen </span>
     <span class="vieworder"></span>
    /
     <span class="sortable" ng-click = "ng-show">View all</span>
  </div>
  <input type="checkbox" name="" checked>

      <li style="list-style-type: none;">
        <div style="padding-top: 30px;" class="checkbox-container" ng-repeat="item in items | filter:search | filter:checked | orderBy:propertyName:reverse">
          <label class="checkbox">
            <input type="checkbox" ng-model="item.spent_bul" disabled>
            <em>
              <a href="/list/{{item.id}}/edit" style="color: white; text-decoration: none;" >
                {{item.author}} | {{item.title}} | {{item.year}}
              </a>
            </em>
          </label>
        </div>
      </li>


</div>


<%= yield if block_given? %>
