<div id="footer" ng-app='listOrderApplication' ng-controller="listOrderController" ng-cloak>
  <div ng-init='items = <%= @lines_jsoned%>'></div>
  <input type="text" placeholder=" Search " ng-model="search" style="color: black;">
  <br/>

<!-- angular sort condition -->

  <div class="" style="font-size: 1.2em;">
    <div class="row">
      <div class="col-xs-2">
        <span class=""> Sort by: </span>
      </div>
      <div class="col-xs-2">
        <span class="sortable" ng-click = "sortBy('author')"> Author </span>
        <span class="sortorder" ng-show="propertyName === 'author'" ng-class="{reverse: reverse}"></span>
      </div>
      <div class="col-xs-2">
        <span class="sortable" ng-click = "sortBy('title')"> Title </span>
        <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
      </div>
      <div class="col-xs-2">
        <span class="sortable" ng-click = "sortBy('year')"> Year </span>
        <span class="sortorder" ng-show="propertyName === 'year'" ng-class="{reverse: reverse}"></span>
      </div>
      <div class="col-xs-2">
        <span class="sortable" ng-click = "sortBy('created_at')"> Date added </span>
        <span class="sortorder" ng-show="propertyName === 'created_at'" ng-class="{reverse: reverse}"></span>
      </div>
    </div>
  </div>

  <div class="" style="font-size: 1.2em;padding-top: 1em;padding-bottom: 1em;">
    <div class="row">
      <div class="col-xs-2">
        <span>View:</span>
      </div>
      <div class="col-xs-4">
        <span id="hideSpented" class="sortable" onclick = "hideSpented();">Hide <%= @entity_name %> I have <%= @entity_name=='books' ? 'read' : 'seen'%> </span>
      </div>
      <div class="col-xs-2">
        <span id="showSpented" class="sortable" onclick="showSpented();">View all</span>
      </div>
    </div>
  </div>

<!-- angular (ng-repeat) list -->

      <li style="list-style-type: none;">
        <div style="" class="checkbox-container items-list {{ 'hideSpentedIs-' + item.spent_bul }}" ng-repeat="item in items | filter:search | orderBy:propertyName:reverse">
          <label class="checkbox">
            <input type="checkbox" ng-model="item.spent_bul" disabled>
            <em>
              <a href="/list/{{item.id}}/edit" style="color: white; text-decoration: none;" >
                {{item.author}} | {{item.title}} | {{item.year}}
              </a>
            </em>
          </label>
        </div>
      </li>


</div>


<%= yield if block_given? %>
