<div id="" style="margin-top: 3em; left: 0; right: 0; color: grey; font-size: 1.4em; text-align: center; ">
  <p>Hello! If you see that, seems you are here for the first time.</p>
  <p> This service is a notebook for your movies and books already seen (read) and desired.</p>
  <p>Enter your name and password (you can change it later).</p>
  <button id="signUp" class="btn btn-primary btn-lg" style="margin-top: 1em; width: 8em;"> sign up</button>
</div>

<div id="Registering" style="margin-top: 2em; display:<%=session['validate_error'] ? nil : 'none' %>;">
  <form action="/login" method="post" class="form-inline" style="left: 0; right: 0; text-align: center;">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Place name here" autofocus>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Place secret here">
    </div>
    <button type="submit" class="btn btn-info">register</button>
    <br>
    <br>
  <% if session['validate_error']%>
    <% session['validate_error'].each do |error| %>
    <p class="btn-danger badge"><%= error%></p>
    <% end %>
  <% end %>
  </form>
</div>



<div id="footer">
</div>

<%= yield if block_given?%>

<% session.delete('validate_error') %>
