<div class="container">
  <h2 style="color:grey;">Hello <%= "#{@user.name}"%>.
    <br>
    here some debug info:
    <br>
    <blockquote class="blockquote"> <%= "#{session.to_hash.keys}"%></blockquote>
    <br>
    go to <a href="/books">books</a> or <a href="/movies">movies</a>
  </h2>
</div>

<%= yield if block_given?%>
