<div id="main-books">
  <div class="form-container">
    <input autofocus type="text" placeholder="Author Name. Book Title. Year" name="whole_name"><br/>

    <input type="text" placeholder="Tags" name="tags"><br/>

    <input type="hidden" name="entity_name" id="entity_name">

    <textarea form="" placeholder="Comment" name="comment"></textarea>
  </div>

  <div class="checkbox-container">
      <label class="checkbox">
        <input class="" id="iveread" type="checkbox"/><em>I've read this book</em>
      </label>
  </div>

  <button class="btn btn-lg center-block add">ADD BOOK</button>
  <br><br>

</div>
