<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/script/jquery-3.2.1.js"></script>
  <script src="/script/script.js"></script>
</head>
<body>
 -->

<div id="header">
  <div class="btn-group center-block">
    <button type="button" class="btn btn-default inactive">BOOKS</button>
    <button type="button" class="btn btn-default active">MOVIES</button>
  </div>
</div>

<div id="main main-movies">
  <div class="form-container">
    <input autofocus type="text" placeholder="Author Name. Book Title. Year" name="whole_name"><br/>

    <input type="text" placeholder="Tags" name="tags"><br/>

    <input type="hidden" name="entity_name" id="entity_name" value="movies">

    <textarea form="" placeholder="Comment" name="comment"></textarea>
  </div>

  <div class="checkbox-container">
      <label class="checkbox">
        <input class="" id="iveread" type="checkbox"/><em>I've read this book</em>
      </label>
  </div>

  <button class="btn btn-lg center-block add">ADD MOVIE</button>
  <br><br>

</div>


<div id="footer">
  <input type="text" placeholder=" Search " name="">
  <br/>
  <span style="font-size: 1.2em;">Sort by: Author / Title / Year / Date added</span>

<div style="padding-top: 30px;" class="checkbox-container">
  <label class="checkbox">
    <input type="checkbox" name="">search result
  </label>
</div>


</div>
<!-- 
</body>
</html>
 -->
